
<div class="container" ng-app="instructorCtrlApp" ng-controller="instructorDashboardCtrl" ng-init="init()">
    <h3>Hi {{firstName}}! Welcome to the Secure Coding Dojo!</h3>


  <table class="table table-bordered">
    <thead>
      <tr table style="width:100%;text-align:left;background-color:rgb(114, 31, 16);">
        <th scope="col">ID</th>
        <th scope="col">Student First Name</th>
        <th scope="col">Student Second Name</th>
        <th scope="col">Email Address</th>
        <th scope="col"> Solution </th>
      </tr>
    </thead>
    <tbody> 
         <tr ng-repeat="ProgressEntry in studentsList">
          <td>{{ProgressEntry.id}}</td>
          <td>{{ProgressEntry.givenName}}</td>
          <td>{{ProgressEntry.familyName}}</td>
          <td>{{ProgressEntry.userEmail}}</td>
          <td>
            <select class="form-select"  name="sol_button_disabled" id="sol_button_disabled" > 
                <option value='disabled' ng-selected="ProgressEntry.solution_disabled=='disabled' ">Disabled</option>
                <option value='enabled' ng-selected="ProgressEntry.solution_disabled=='enabled' ">Enabled</option>
              </select>
          </td>
          <td><button  type="button" class="btn btn-secondary" ng-click="updateStudent($index)">Change</button> </td>

        </tr>
      
    </tbody>
  </table>

</div>
